<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
  	<div class="modal-header">
    	<h5 class="modal-title" id="exampleModalLongTitle">Perdidas</h5>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">&times;</span>
    	</button>
  	</div>
  	<div class="modal-body">

        <p>
          <strong>Fecha:</strong>
          <%= @perdida.fecha %>
        </p>
        
        <p>
          <strong>Num doc:</strong>
          <%= @perdida.num_doc %>
        </p>
        
        <p>
          <strong>Cliente:</strong>
          <%= @perdida.cliente %>
        </p>
        
        <p>
          <strong>Fecha entrega:</strong>
          <%= @perdida.fecha_entrega %>
        </p>
        
        <p>
          <strong>Empleado:</strong>
          <%= @perdida.empleado %>
        </p>
        
        <p>
          <strong>Cant:</strong>
          <%= @perdida.cant %>
        </p>
        
        <p>
          <strong>Prenda:</strong>
          <%= @perdida.prenda %>
        </p>
        
        <p>
          <strong>Pieza:</strong>
          <%= @perdida.pieza %>
        </p>
        
        <p>
          <strong>Talla:</strong>
          <%= @perdida.talla %>
        </p>
        
        <p>
          <strong>Val uni:</strong>
          <%= @perdida.val_uni %>
        </p>
        
        <p>
          <strong>Total:</strong>
          <%= @perdida.total %>
        </p>
        
        <p>
          <strong>Subtotal:</strong>
          <%= @perdida.subtotal %>
        </p>
        
        <p>
          <strong>Iva:</strong>
          <%= @perdida.iva %>
        </p>
        
        <p>
          <strong>Total:</strong>
          <%= @perdida.total %>
        </p>
</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	</div>
	</div>
  </div>
</div>


