<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
  	<div class="modal-header">
    	<h5 class="modal-title" id="exampleModalLongTitle">Producción</h5>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">&times;</span>
    	</button>
  	</div>
  	<div class="modal-body">

        <p>
          <strong>Fecha:</strong>
          <%= @produccion.fecha %>
        </p>
        
        <p>
          <strong>Num fact:</strong>
          <%= @produccion.num_fact %>
        </p>
        
        <p>
          <strong>Cliente:</strong>
          <%= @produccion.cliente %>
        </p>
        
        <p>
          <strong>Fecha entre:</strong>
          <%= @produccion.fecha_entre %>
        </p>
        
        <p>
          <strong>Empleado:</strong>
          <%= @produccion.empleado %>
        </p>
        
        <p>
          <strong>Cant:</strong>
          <%= @produccion.cant %>
        </p>
        
        <p>
          <strong>Prenda:</strong>
          <%= @produccion.prenda %>
        </p>
        
        <p>
          <strong>Pieza:</strong>
          <%= @produccion.pieza %>
        </p>
        
        <p>
          <strong>Talla:</strong>
          <%= @produccion.talla %>
        </p>
        
        <p>
          <strong>Val uni:</strong>
          <%= @produccion.val_uni %>
        </p>
        
        <p>
          <strong>Total:</strong>
          <%= @produccion.total %>
        </p>
        
        <p>
          <strong>Subtotal:</strong>
          <%= @produccion.subtotal %>
        </p>
        
        <p>
          <strong>Iva:</strong>
          <%= @produccion.iva %>
        </p>
        
        <p>
          <strong>Total:</strong>
          <%= @produccion.total %>
        </p>
</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	</div>
	</div>
  </div>
</div>