<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
  	<div class="modal-header">
    	<h5 class="modal-title" id="exampleModalLongTitle">Programación</h5>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      	<span aria-hidden="true">&times;</span>
    	</button>
  	</div>
  	<div class="modal-body">
        <p>
          <strong>Fecha:</strong>
          <%= @programacion.fecha %>
        </p>
        
        <p>
          <strong>Num progr:</strong>
          <%= @programacion.num_progr %>
        </p>
        
        <p>
          <strong>Cliente:</strong>
          <%= @programacion.cliente %>
        </p>
        
        
        <p>
          <strong>Cant:</strong>
          <%= @programacion.cant %>
        </p>
        
        <p>
          <strong>Prenda:</strong>
          <%= @programacion.prenda %>
        </p>
        
        <p>
          <strong>Pieza:</strong>
          <%= @programacion.pieza %>
        </p>
        
        <p>
          <strong>Talla:</strong>
          <%= @programacion.talla %>
        </p>
        
       
</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  	</div>
	</div>
  </div>
</div>