<div class="card">
  <div class="card-block">
   <h4 class="card-title">Clientes</h4>
   <%= form_tag clientes_path, class: "form-inline", role: "form",  method: 'get' do %>
   	<label>Nombre: </label>
   	<div class="form-group">
      	<%= search_field_tag :search, params[:search], :class => "form-control",
          	placeholder: "Ingrese Nombre", size: "50" %>
   	</div>
   	<button class="btn btn-success">Buscar
   	</button>
   <% end %>
  </div>
</div>

<h1>Clientes</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Numero</th>
      <th>Nombre</th>
      <th>Direcion</th>
      <th>Lugar</th>
      <th>Telefono</th>
      <th>Movil</th>
      <th>Correo</th>
      <th>Empleado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.documento %></td>
        <td><%= cliente.numero %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.direcion %></td>
        <td><%= cliente.lugar %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.movil %></td>
        <td><%= cliente.correo %></td>
        <td><%= cliente.empleado %></td>
        
        <td><%= link_to 'ver', cliente, remote: true, class: "btn btn-info" %></td>
        <% if can? :update, @cliente %>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class:"btn btn-warning" %></td>
        <% end %>
        <% if can? :delete, @cliente %>
        <td><%= link_to 'Borrar', cliente, method: :delete, data: { confirm: 'ESTA SEGURO?' }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= will_paginate @clientes, :previous_label => 'Anterior&nbsp;', :next_label => '&nbsp;Siguiente' %>

<br>
Clientes: <%= @clientes.count %>
<br>
<% if can? :create, @cliente %>
<%= link_to 'Registro de Cliente', new_cliente_path, class: "btn btn-success" %>
<% end %>